
/* SECTION: TITLE */

.top {
    color: #fff;
    margin: 0;
    background-image: url(images/image-top.png);
    background-repeat: no-repeat;
    height: 970px;
    background-size: cover;
    text-align: center;
    
}

.nav-link {
    margin: 0 10px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.name-top {
    margin-top: 12%;
    font-size: 5rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.p-top {
margin-top: 4%;
font-family: 'Times New Roman', Times, serif;
}

.social {
    list-style: none;
    margin-top: 16%;
    margin-right: 4%;
}

.li-icons {
    margin-left: 40px;
    display: inline;
}

.social-icon {
    color: #fff;
}

.social-icon:hover {
    color: #1D5C63;
    transition: all .3s ease-in-out;
}
/* 
.btn-top {
   margin-left: 20%;
    color: #fff;
} */


/* SECTION: ABOUT */

.about {
    background-color: #395B64;
    color: #fff;
    padding-bottom: 5% ;
}

.me-img {
    width: 14rem;
    border-radius: 100%;
    margin-top: 15% ;
    margin-left: 55%;
}

.h2-of-about {
margin-top: 7%;
margin-left: 3%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 700;
}

.p-about {
    margin-top:1.5%;
    margin-left: 3%;
    width: 55%;
    line-height: 2rem;
}

.btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 20px;
    background: #244a63;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 5%;
    margin-left: 12%;
  }
  
  .btn:hover {
    background: #396987;
    text-decoration: none;
    transition: all .3s ease-in-out
  }

  /* SECTION EDUCATION */

  .row {
      margin-right: 0;
      margin-left: 0;
  }

  #Resume {
      background-color:#222831;
      color: #fff;
      padding-bottom: 5%;
  }

  .h2-of-resume {
    margin-top: 14% ;
    margin-left: 55%;
    border-bottom: 2px solid #FFD369;
    padding-bottom: 5px;
    width: 9rem;
  }

  .list-education {
    margin-top: 2%;
    margin-left: 1%;
    line-height: 2rem;
    color: darkgray;
  }

.line {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    color: #396987;
    
}

  .skills {
      margin-top: 1%;
  }

  .row-of-skills {
      font-size: larger;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 7%;
      margin-left: 3%;
      margin-bottom: 4%;
  }

    /* SECTION WORKS */ 

.projects {
background-color: #D1D1D1;
text-align: center;
padding-bottom: 7%;
}

.name {
    border-bottom: 2px solid #D89216;
    padding-bottom: 0.5rem;
    line-height: 2.5rem;
}

.h2-of-projects {
    padding: 3% 0;
    font-size: 2.5rem
}

.h3-of-projects {
    margin: 8% 42% 3%;
}

.links {
    color:#11ABB0;
   text-decoration: none;
}

.p-projects {
    margin-left: 5%;
}


    /* SECTION CONTACT */

    .contacts {
        /* width: 100%; */
        /* height: 100vh; */
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
    }
    
    form input , form textarea {
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        background: #f5f5f5;
        font-size: 16px;
    
    }


.contact-me {
    padding:4% 0;
    background-color: #322F3D;
    color: #fff;
    text-align: center;
    position: relative;
}

.p-contact {
    font-size: larger;
    margin: 0 3% 2%;
}

.mail-icon {
    margin-bottom: 2%;
    margin-right: 2%;
}

.my-info {
    position: absolute;
    right: 17%;
    top: 27%;
    text-align: left;
}

.btn-contact {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 12px;
    font-family: 'Montserrat', serif; 
    font-family:'ubuntu';
    color: #525252;
    font-size: 20px;
    background: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 2%;
    font-weight:500;
}

.btn-contact:hover {
    text-decoration: none;
    background-color: #D89216;
    color: #040303;
    transition: all .3s ease-in-out
}

/* FOOTER SECTION */

.my-footer {
    text-align: center;
    padding: 4rem;
    background-color: #040303;
}

.footer-social {
    list-style: none;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.footer-li-icons {
    margin-left: 40px;
    display: inline;
}

.social-icons {
    color: #525252;
}

.social-icons:hover {
    color: #fff;
    transition: all .3s ease-in-out
}

.navbar2 {
    margin-top: 2rem;
}

/********************************  MEDIA  *********************************************************/
@media (min-width: 900px) and (max-width: 1500px) {

    /* SECTION: TITLE */
.top {
    color: #fff;
    margin: 0;
    background-image: url(images/image-top.png);
    background-repeat: no-repeat;
    height:650px;
    background-size: cover;
    text-align: center;
    padding: 0 7% 5%;
}


.name-top {
    margin-top: 7%;
}

.p-top {
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;

}

.social {
    list-style: none;
}


/* --------------------------------- */
.me-img {
    width: 14rem;
    border-radius: 100%;
    margin-top: 15% ;
    margin-left: 40%;
}

.btn {
    margin-left: 5%;
}

.about {
    padding: 2% 0;
    padding-bottom: 7%;
}

/* ******************************** */
.education {
    padding: 1rem 1rem;
}

.skills{
    padding: 1rem 1rem;
}

/* ******************************** */
.projects{
    padding: 5% 0 10%;;
   
}

.h3-of-projects {
    /* margin: 8% 40% 3%; */
    margin: 5rem 14rem 2rem;
}

/* ******************************* */

.contact-me {
    padding:  11%;
}

.notice {
    margin: 0 0 10%;
}
}
/* ********************** */

 
/* *************************************************************************************************************** */

@media (max-width: 899px){

/* SECTION: TITLE */

.top {
    color: #fff;
    background-image: url(images/image-top.png);
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
    text-align: center;
    
}


.name-top {
    margin-top: 17%;
    font-size: 4rem;
    margin: 5%;
}

.p-top {
margin-top: 8%;
font-size: 1rem;
padding: 0 2rem;
}

.social {
    list-style: none;
    margin-right: 4rem;
    margin-top: 4rem;
}

/* SECTION: ABOUT */

.about {
    padding: 0 7% 5%;
}

.me-img {
    margin: 6rem;
}

.p-about{
    width: 20rem;
}
  /* SECTION EDUCATION */

  #Resume {
      padding: 0 7% 10%;
  }

  .h2-of-resume {
      text-align: center;
      margin-left: 8rem;
  }

    /* SECTION WORKS */

.projects {
padding: 5% 3% 7%;
;
}

.h2-of-projects {
    padding: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}


    /* SECTION WORKS */

    .contact-me {
        padding-top: 5rem;
    }

.p-contact {
    margin: 5% 4% 7%;
}


.footer-social {
    list-style: none;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

.footer-li-icons {
    margin-left: 1rem;
    display: inline;
}

}